$enable-responsive-font-sizes: true !default;
$enable-gradients: true !default;

// Other colors from the pallete
// gray E3E7E4
// opaque fuccia 6B4B73

$theme-colors: (
	"primary": #4180A7,
	"secondary": #9CC9D2,
	"info": #214D6E,
	"success": #49a16a,
	"warning": #c69132,
	"danger": #f44336,
	"dark": #010a11,
	"light": #fcfcfd
);

@import '../node_modules/bootstrap/scss/bootstrap';

body, html {
	height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
}

// Layout styling 